@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Douglas</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="tree">
    <ul>
        <li>
            <a href="#">Lulinha</a>
            <ul>
                <li>
                    <a href="#">Esposa: Nika</a>
                    <ul>
                        <li>
                            <a href="#">Paulinho</a>
                        </li>

                        <li>
                            <a href="#">Valdecir</a>

                            <ul>
                                <li><a href="#">Ragnar Lodbrok</a></li>
                                <li><a href="#">Rolo Lodbrok</a></li>
                                <li><a href="#">Maisa</a></li>
                            </ul>

                        </li>

                        <li>
                            <a href="#">Jurandir</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Esposa: Maisa</a>
                    <ul>
                        <li>
                            <a href="#">Filhote 1</a>
                        </li>
                        <li>
                            <a href="#">Filhote 2</a>
                        </li>
                        <li>
                            <a href="#">Filhote 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
